connect jupyter note book to local psql schemer

1. download psql to local computer
2. download database (newsdata.sql)
3. create database and table(test1) for further upload newsdata.sql
3. excute newsdata.sql into psql in local computer
4. download psql to python3
5. connect python to local psql table
6. excute python code

In [ ]:
## download psql and install

In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.2-cp37-cp37m-macosx_10_14_x86_64.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 2.1 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.2

In [2]:
import psycopg2

In [3]:
query1 = """SELECT title,COUNT(*) AS num
FROM articles,log
WHERE log.path ='/article/'|| articles.slug
GROUP BY articles.title
ORDER BY num DESC LIMIT 3;"""


query2 = """SELECT authors.name, COUNT(*) AS num
FROM authors LEFT JOIN articles
ON authors.id = articles.author
LEFT JOIN log
ON log.path ='/article/'|| articles.slug
GROUP BY authors.name
ORDER BY num DESC LIMIT 3;"""


query3 = """SELECT result,date
FROM error_percentage
WHERE error_percentage.result>1;"""

In [11]:
# Connect to the local PostgreSQL database. Returns a database connection.
def connect():
    try:
        return psycopg2.connect(host="localhost",
    database="test1",
    user="postgres",
    password="postgres")
    except (Exception, psycopg2.DatabaseError)as error:
        print(error)

In [12]:
# What are the most popular three articles of all time ?
def most_3_articles(query1):
    db = connect()
    cursor = db.cursor()
    cursor.execute(query1)
    run1 = cursor.fetchall()
    db.close()
    return run1

In [13]:
def formatted1():
    print('\n The most popular three articles of all time are :')
    for count, i in enumerate(most_3_articles(query1), 1):
        print ('(' + str(count) + ') ' + "<"+str(i[0])+">"
               + " rank in No."+(str(count))
               + " with total " + str(i[1]) + " views")

In [14]:
# What are the most 3 popular authors ?
def alltime_popular_authors(query2):
    db = connect()
    cursor = db.cursor()
    cursor.execute(query2)
    run2 = cursor.fetchall()
    db.close()
    return run2


def formatted2():
    print('\nThe morst 3 popular authors are :')
    count = 1
    for count, i in enumerate(alltime_popular_authors(query2), 1):
        print ('(' + str(count) + ') ' + "Author, "+str(i[0]) + " with total "
               + str(i[1]) + " views")

In [15]:
# On which days did more than 1% of requests lead to errors?
def days_error(query3):
    db = connect()
    cursor = db.cursor()
    cursor.execute(query3)
    run3 = cursor.fetchall()
    db.close()
    return run3


def formatted3():
    print('\nThe error precentage result:')
    for count, i in enumerate(days_error(query3), 1):
        print ('(' + str(count) + ') ' + "On "+str(i[1])
               + ", The error precentage is " + str(round(i[0], 2))
               + "%"+" which over 1.0% of the requests.")

In [16]:
if __name__ == "__main__":
    print
    formatted1()
    formatted2()
    formatted3()

 The most popular three articles of all time are :
(1) <Candidate is jerk, alleges rival> rank in No.1 with total 338647 views
(2) <Bears love berries, alleges bear> rank in No.2 with total 253801 views
(3) <Bad things gone, say good people> rank in No.3 with total 170098 views

The morst 3 popular authors are :
(1) Author, Ursula La Multa with total 507594 views
(2) Author, Rudolf von Treppenwitz with total 423457 views
(3) Author, Anonymous Contributor with total 170098 views

The error precentage result:
(1) On 2016-07-17, The error precentage is 2.28% which over 1.0% of the requests.